---
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
import SocialPhill from "../components/SocialPhill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio Francisco Le贸n Desarrolador Full Stack"
  description="Contrata a Francisco Le贸n, un desarrollador Full Stack con preferencia en Backend con experiencia en Java, Python , C#, React, Angular y m谩s."
>
  <main>
    <SectionContainer>
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="./assets/francisco_leon.jpg"
        alt="franciscoleon photo"
      />
      <h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Francisco Le贸n
        <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/francisco-le%C3%B3n-marcos-93a984250/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge> Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-lg text-wrap">
        <span class="text-white">Joven con ganas de aprender.</span>
        <span class="text-yellow-200/90"
          >Desarrollador Full Stack con preferencia en el Backend.</span
        >
        <span class="text-red-200/90">
          de Villaviciosa de Od贸n, Madrid, Espa帽a </span
        >
      </h2>

      <ul class="flex flex-row mb-2 gap-x-2 mt-4">
        <li>
          <SocialPhill>
            <GithubIcon class="w-6 h-6" />
            Git
          </SocialPhill>
        </li>
        <li>
          <SocialPhill href="mailto:leonmarcosf@gmail.com">
            <MailIcon class="w-6 h-6" />
            leonmarcosf@gmail.com
          </SocialPhill>
        </li>
        <li>
          <SocialPhill
            href="https://www.linkedin.com/in/francisco-le%C3%B3n-marcos-93a984250/"
          >
            <LinkedinIcon class="w-6 h-6" />
            LinkedIn
          </SocialPhill>
        </li>
      </ul>
    </SectionContainer>

    <SectionContainer class="relative" id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer class="relative" id="experiencia2">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral 2
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer class="relative" id="experiencia3">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral 3
      </TitleSection>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
