---
 const personalImageAlt = "Francisco León Marcos"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="mb-4">
      Me llamo Francisco León Marcos, Desarrollador Full Stack Junior <strong>con preferencia en Backend</strong>.
      Java , Spring Boot, Python y Django son mis tecnologías favoritas.
    </p>

    <p class="mb-4">
      Soy <strong>español nativo</strong> y cuento con un <strong>buen nivel de inglés</strong>, lo que me permite colaborar en entornos internacionales y comunicarme de manera fluida con equipos multiculturales.
    </p>

    <p class="mb-4">
      Actualmente resido en <strong>Madrid, España</strong>. Puedes contactarme en <a href="mailto:leonmarcosf@gmail.com"><strong>leonmarcosf@gmail.com</strong></a> para cualquier consulta o colaboración profesional.
    </p>
  </div>

  <img width="200" height="200" src="/assets/francisco_leon.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
